* {
  margin: 0;
  padding: 0;
}

.blue-btn {
  font-family: roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  width: 306px;
  text-decoration: none;
  background: #312AB0;
  border-radius: 40px;
  padding: 15px 0;
}

.heading-line {
  border: 1px solid rgba(0, 0, 0, 0.13);
  width: 88px;
}

.heading-with-line {
  max-width: 164px;
  font-family: roboto;
  font-weight: bold;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.065em;
  color: #312AB0;
  margin-left: 15px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-link {
  margin-left: 30px;
}

.header__menu {
  margin-right: 27px;
}

.header__close-btn {
  display: none;
}

.header__bottom {
  position: relative;
}

.header__hide-menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: white;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  padding-top: 23px;
  padding-bottom: 50px;
}

.header__menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  gap: 22px;
}

.header__menu-link {
  font-family: roboto;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.header__menu-link:hover {
  font-weight: bold;
  color: #312AB0;
}

.header__page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  gap: 46px;
}

.header__page-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__page-nav-text {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #312AB0;
  margin-top: 11px;
}

.header__page-nav-text_margin {
  margin-top: 15.5px;
}

.header__menu-btn {
  background: #312AB0;
  border-radius: 40px;
  font-family: roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px 0;
  margin-top: 32px;
  width: 302px;
}

.rex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 594px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, black), color-stop(5%, black), color-stop(19%, black), color-stop(90%, #360b60));
  background: linear-gradient(180deg, black 1%, black 5%, black 19%, #360b60 90%);
}

.rex__img {
  margin-left: auto;
}

.rex__heading {
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.065em;
  color: #FDFDFD;
  text-align: left;
  margin-left: 42px;
}

.rex__text {
  font-family: roboto;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.065em;
  color: #FFFFFF;
  margin-top: 18px;
  margin-left: 42px;
  width: 292px;
}

.rex__btn {
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  color: #312AB0;
  background: #FFFFFF;
  border-radius: 40px;
  width: 306px;
  padding: 15px 0;
  margin: 0 auto;
  margin-top: 42px;
}

.excursion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 33px;
  padding-bottom: 40px;
}

.excursion__heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.excursion__text {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.065em;
  text-align: center;
  color: #000000;
  margin-top: 13px;
}

.excursion__btn {
  margin: 0 auto;
  margin-top: 23px;
}

.excursion__box-slider {
  height: 404px;
}

.Imax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, black), color-stop(5%, black), color-stop(19%, black), color-stop(90%, #360b60));
  background: linear-gradient(180deg, black 1%, black 5%, black 19%, #360b60 90%);
  padding-top: 137px;
  padding-bottom: 160px;
}

.Imax__heading {
  font-family: roboto;
  font-weight: bold;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.065em;
  color: #FFFFFF;
}

.Imax__text {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.065em;
  width: 300px;
  margin-top: 19px;
  color: #FFFFFF;
}

.Imax__video-box {
  position: relative;
}

.Imax__video {
  width: 100%;
  min-height: 180px;
  -webkit-filter: drop-shadow(6px 9px 22px rgba(255, 255, 255, 0.42));
          filter: drop-shadow(6px 9px 22px rgba(255, 255, 255, 0.42));
  margin-top: 51px;
}

.Imax__play-btn {
  position: absolute;
  left: 42%;
  top: 45%;
}

.visit {
  padding-top: 60px;
  padding-bottom: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.visit__heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visit__heading {
  text-align: center;
  margin-left: 0;
}

.visit__line {
  width: 80px;
}

.visit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  gap: 35px;
  margin: 0 auto;
  margin-top: 45px;
}

.visit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.visit__item-img {
  margin-right: 27px;
}

.visit__item-text-box {
  max-width: 226px;
}

.visit__item-heading {
  font-family: roboto;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.065em;
  color: #312AB0;
}

.visit__item-text {
  font-family: roboto;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-top: 6px;
}

.visit__map {
  margin-top: 35px;
  width: 100%;
}

.visit__btn {
  width: 306px;
  margin: 0 auto;
  margin-top: 40px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.footer__logo {
  margin-right: 49px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 37.65px;
  padding-bottom: 48px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.footer__tel-ico {
  margin-bottom: 20.45px;
}

.footer__tel {
  font-family: roboto;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.footer__tel_margin {
  margin-bottom: 13px;
}

.footer__email-ico {
  margin-top: 17px;
  margin-bottom: 13px;
}

.footer__email {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 28px;
  padding-bottom: 40px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}

.footer__link {
  font-family: roboto;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */